<ion-content [fullscreen]="true" id="card">

  <ion-card>
    <ion-card-content class="female">
      <p>Luz</p>
      <img src="../../assets/icon/cat.png" alt="cat">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="male">
      <p>Harry</p>
      <img src="../../assets/icon/dog.png" alt="cat">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="male">
      <p>Hachi</p>
      <img src="../../assets/icon/dog.png" alt="cat">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="female">
      <p>Kira</p>
      <img src="../../assets/icon/cat.png" alt="cat">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="female"> 
      <p>Nube</p>
      <img src="../../assets/icon/cat.png" alt="cat">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="female">
      <p>Luna</p>
      <img src="../../assets/icon/cat.png" alt="cat">
    </ion-card-content>
  </ion-card>

</ion-content>
