/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

* {
    font-family: 'Lato', "Helvetica Neue", sans-serif !important;
    text-align: center;
}

ion-card-title {
    margin-bottom: 1rem;
}

ion-card-header {
    padding: 0;
    margin-bottom: 2rem;
}

ion-toolbar ion-title {
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem 0;
    font-weight: 200;
}

.tab-selected {
    background-color: #05828e;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-selected:first-child {
    border-top-left-radius: 0;
}

.tab-selected:last-child {
    border-top-right-radius: 0;
}
